.navbar img{
    height: 60px;
    width: 120px;
    border-radius: 22px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    font-size:22px ;
    cursor: pointer;
    transition: 0.5s;

}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
    height: 30px;
    width: 40px;
}
.anchor-link{
    text-decoration: none;
    color: white;
}